* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 90px;
}

.cards {
  display: grid;
  gap: 2rem;
}

[data-info="html"] {
  --color-base: #de4b25;
}

[data-info="css"] {
  --color-base: #2e53e5;
}

[data-info="js"] {
  --color-base: #dac50b;
}

.cards__item {
  --color-border-card: var(--color-base, #000);
  --color-titulo-card: var(--color-base, #000);
  --color-fill-icon: var(--color-base, #000);

  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);

  padding: 2rem;
  border-top: 10px solid var(--color-border-card, #000);
}

.card__title {
  font-size: 2rem;
  color: var(--color-titulo-card, #000);
}

.card__paragraph {
  margin: 10px 0;
}

.cards__icon {
  display: block;
  margin-left: auto;
  width: 80px;
  height: 80px;
  fill: var(--color-fill-icon, #000);
}
